click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Uploads==0.2.1
Flask-Migrate==2.5.3
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
typing-extensions==3.10.0.2
Werkzeug==2.0.1
zipp==3.5.0
python-dotenv==0.14.0
Flask-Login==0.5.0
PyJWT==1.7.1
